.cInputCreate {
  padding-top: 5pt;
  padding-bottom: 5pt;
}

.cCreateT {
  text-align: center;
}

.cButtonCreate {
  padding-top: 5pt;
  padding-bottom: 5pt;
  margin: auto;
  width: 150pt;
}
