.cHomeBackground {
	width: 100vw;
	height: 100vh;
	position: fixed;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.cTitleHome {
	padding-top: 5pt;
}

.cTitleHome h1 {
	font-family: 'Quicksand';
	color: #3c3b3e;
	font-weight: bold;
}

#create-dialog-title {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/* PC */
@media screen and (min-width: 600px) {
	.cTitleHome h1 {
		font-size: 30pt;
	}
}

/* Telefonos */
@media only screen and (max-width: 600px) {
	.cTitleHome h1 {
		font-size: 25pt;
	}
	.cTitleHome p {
		font-size: 20pt;
	}
}
