@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

/* Contenedor del header */
.cHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor del mensaje de regístrate */
.hSignUp {
  margin-left: 15px;
  font-family: "QuickSand";
  text-align: center;
}

/* Contenedor de los inputs de texto*/
.cTextFields {
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
}

/* Cada uno de los cuadros de texto */
.tfInfo {
  margin-top: 15px;
}

@media screen and (min-width: 600px) {
  /* Contenedor del Login */
  .cSignUp {
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 500px;
    background-color: #faf3f0;
    border-radius: 10pt;
    -webkit-box-shadow: 3px 3px 3px #3c3b3e;
    -moz-box-shadow: 3px 3px 3px #3c3b3e;
    box-shadow: 3px 3px 3px #3c3b3e;
  }
  /* Contenedor del logo*/
  .iLogo {
    max-width: 90px;
    height: 90px;
  }
  /* Contenedor del mensaje de regístrate */
  .hSignUp {
    font-size: 2.4em;
    max-width: 250px;
  }

  /* Contenedor de Nombre y cédula*/
  .cNameAndId {
    display: flex;
    margin-top: 15px;
  }

  /* Cada input de nombre y cedula */
  .tfName,
  .tfId {
    min-width: 220px;
  }

  /* Input de cédula*/
  .tfId {
    margin-left: 10px;
  }

  /* Contenedor del botón para registrarse*/
  .bSignUp {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20pt;
    padding-bottom: 20pt;
  }
}
/* Pantalla de teléfonos */
@media only screen and (max-width: 600px) {
  /* Contenedor del mensaje de regístrate */
  h1 {
    font-size: 30px;
    max-width: 200px;
  }

  /* Contenedor del logo*/
  .iLogo {
    max-width: 80px;
  }

  /* Cada input de nombre y cedula */
  .tfName,
  .tfId {
    margin-top: 15px;
    margin-left: 12px;
    margin-right: 12px;
  }

  /* Cada uno de los cuadros de texto */
  .tfInfo {
    margin-left: 12px;
    margin-right: 12px;
  }

  /* Contenedor del botón para registrarse*/
  .bSignUp {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20pt;
    padding-bottom: 20pt;
  }
}

@media only screen and (max-width: 270px) {
  /* Contenedor del mensaje de regístrate */
  .hSignUp {
    font-size: 18px;
  }

  /* Contenedor del logo*/
  .iLogo {
    max-width: 55px;
  }
}
