@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

@media screen and (min-width: 600px) {
  /* Contenedor del Login */
  .cSignUp {
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 400px;
    background: #fff;
    justify-content: center;
    border-radius: 10pt;
    -webkit-box-shadow: 3px 3px 3px #3c3b3e;
    -moz-box-shadow: 3px 3px 3px #3c3b3e;
    box-shadow: 3px 3px 3px #3c3b3e;
  }
  /* Contenedor del header */
  .cHeader {
    display: flex;
    align-items: center;
  }

  /* Contenedor del logo*/
  .iLogo {
    max-width: 90px;
    height: 90px;
    margin-left: 15px;
  }

  /* Contenedor del mensaje de regístrate */
  h1 {
    font-size: 2.4em;
    margin-left: 15px;
    font-family: "QuickSand";
    max-width: 250px;
  }

  /* Contenedor de cada uno de los cuadros de texto */
  .tfInfo {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  /* Contenedor del botón para registrarse*/
  .bSignUp {
    max-width: 200px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10pt;
    padding-bottom: 20pt;
  }

  /* Pantalla de teléfonos */
  @media screen and (min-width: 600px) {
    /* Contenedor del header */
    .cHeader {
      display: flex;
      align-items: center;
    }
  }
}
