.cInputCreate {
	padding-top: 5pt;
	padding-bottom: 5pt;
}

.cCreateT {
	text-align: center;
}

.cBCreateTutoring,
.cBCancelTutoring {
	font-size: 12pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	margin: auto;
	max-width: 300px;
}

.tfTutoringDate {
	text-align: left;
}
