@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.App {
  text-align: center;
}

body {
  background-color: #FAF3F0;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 415px) {
  body {
    background-image: url("background-login.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .title {
    height: 1vh;
  }
  .App {
    margin-top: 10vh;
    margin-bottom: 10vh ;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10pt;
    -webkit-box-shadow: 3px 3px 3px  #3c3b3e;
    -moz-box-shadow: 3px 3px 3px  #3c3b3e;
    box-shadow: 3px 3px 3px  #3c3b3e;
  }
  .titlepc {
    height: 30vh;
    background-image: url("title-loginpc.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .login {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .appart {
    margin-top: 30pt;
  }
}

@media screen and (max-width: 414px) {
  .title {
    margin-top: -12pt;
    height: 120pt;
    background-image: url("title.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20pt;
  }
  .login {
    margin-top: 20vh;
    margin-bottom: 20vh;
  }
  .appart {
    margin-top: 40pt;
  }

}