@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.App {
  text-align: center;
}

body {
  background-color: #FAF3F0;
  font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 415px) {
  .title {
    background-color: blue;
  }
}

@media screen and (max-width: 414px) {
  .title {
    margin-top: -12pt;
    height: 120pt;
    background-image: url("title.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20pt;
  }
  .login {
    margin-top: 20vh;
    margin-bottom: 20vh;
  }
  .appart {
    margin-top: 40pt;
  }

}